asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.1
cmake==3.24.1
distlib==0.3.4
Django==4.1
dlib==19.24.0
env==0.1.0
ez-setup==0.9
filelock==3.6.0
geographiclib==1.52
geopy==2.2.0
idna==3.3
pbr==5.8.1
platformdirs==2.5.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
stevedore==3.5.0
tzdata==2022.2
urllib3==1.26.12
virtualenv==20.14.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
